.hero-tagline {
  background-color: var(--background-color);
}
.hero-tagline-text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary-color);
  text-align: center;
  padding: 10rem 0;
}

.hero-tagline span {
  display: block;
}

@media (min-width: 768px) {
  .hero-tagline {
    font-size: 2rem;
  }

}