.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  background: var(--secondary-color);
  color: var(--surface-color);
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: var(--primary-color);
  border-color: var(--primary-color);
  transform: translateY(-1px);
}

.button--inverse {
  background: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button--inverse:hover,
.button--inverse:active {
  color: var(--surface-color);
  background: var(--secondary-color);
}

.button--danger {
  background: var(--danger-color);
  border-color: var(--danger-color);
}

.button--danger:hover,
.button--danger:active {
  background: #a8342a;
  border-color: #a8342a;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
